.chatBox {
    min-height: 1rem;
    width: fit-content;
    height: auto;
    padding: 0.5rem 1rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.userChatBox {
    background-color: #D9D9D9;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 16px;
}

.robotChatBox {
    background-color: #FFB18C;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0;
}

.chatText {
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    white-space: pre-wrap;
    word-break: break-word;
}